# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\theod\Google Drive\Stevens\Fall 2020\FE 690 - Machine Learning in Finance\Projects\Project 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
